body {
	background-color: rgb(200,200,200);
	margin: 0;
	overflow: hidden;
}
#info {
	position: absolute;
	top: 0px; width: 100%;
	color: #ffffff;
	padding: 5px;
	font-family:Monospace;
	font-size:13px;
	font-weight: bold;
	text-align:center;
}
a {
	color: #ffffff;
}
#overlay { position: absolute; color: #fff; padding: 20px; width: 160px;}
#canvas { display: none; }
#assets { display: none; }

